:root{
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar{
    height: 0;
    width: .7rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--green);
    border-radius: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    transition: linear .2s;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.sub-heading{
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

/*--section--*/
section{
    padding: 2rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #eee;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .3px;
    transition: .7s, transform 0.5s;
    transform:  translateY(-5px);
}

/*--header--*/
header{
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    background: #fff;
    padding: 2rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

header .logo{
    color: var(--green);
    font-size: 2.5rem;
    font-weight: bolder;
}

.logo img{
    width: 35px;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color:  var(--light-color);
}

header .navbar .active,
header .navbar a:hover{
    color: #fff;
    background: var(--green);
}

header .icons img{
    cursor: pointer;
    margin-left: .5rem;
    height: 5.5rem;
    width: 2.5rem;
    text-align: center;
    background: #ffffff;
    padding: 2rem 0;
    border-radius: 100px;
} 

header .icons img:hover{
    background-color: var(--green);
    transform: rotate(360deg);
    transition: 1.5s;
}

header .icons #menu-bars{
    display: none;
}

 /*---Home---*/
.slide{
    display: flex;
    align-items: center;
    gap: 24rem;
    padding-top: 9rem;
}

.slide .content{
    flex: 1 1 45rem;
}

.slide .image{
    flex: 1 1 45rem;
}

.slide .image img{
    width: 100%;
    border-radius: 20px;
}

.slide .content span{
    color: var(--green);
    font-size: 2.5rem;
}

.slide .content h3{
    color: var(--black);
    font-size: 5rem;
}

.slide .content p{
    color: var(--light-color);
    font-size: 2rem;
    padding: 2.5rem;
    line-height: 1.7;
}

/*---ABOUT----*/
#about{
    padding-top: 100px;
}

.about .row{
    display: flex;
    gap: 0rem;
    align-items: center;
}

.row .image img{
    width: 75%;
    flex: 1 1 65rem;
    margin-top: 100px;
}

.row .content{
    flex: 1 1 100rem;
    margin-right: 15%;
}

.content h3{
    color: var(--black);
    font-size: 3rem;
    padding: 1.5rem 0;
}

.content p{
    color: var(--black);
    font-size: 1.5rem;
    padding: 5rem 0;
    line-height: 2;
}

.content .icons-container{
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    margin-top: .5rem;
    margin-bottom: 2.5rem;
}

.icons-container .icons{
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2px 10px;

}

.icons img{
    width: 30px;
}

.icons span{
    font-size: 1.5rem;
    color: var(--black);
}

.row .content a{
    background-color: var(--green);
    color: var(--black);
    font-size: 15px;
    padding: 5px  5px;
    border-radius: 10px;
}

.row .content a:hover{
    background-color: var(--black);
    color: #ddd;
}



/*---REVIEWS---*/
.review-slider{   
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;
}

.review-slider .quote img{
    width: 25px;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.review-slider .user{
    display: flex;
    gap: 0 2.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.review-slider .user img{
    width: 15%;
    border-radius: 500px;
    object-fit: cover;
}

.review-slider .user h3{
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review-slider .user .stars img{
    width: 25px;
}

.review-slider .user p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
}

/*---RESERVATIONS----*/
#reservations{
    padding: 50px;
}

.reservations form{
    width: 90rem;
    border-radius: 5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    background: #fff;
    margin: 0 auto;
    padding: 1.5rem 25rem;
}

.reservations form .input-box{
   display: block;
}

.input-box .input{
    width: 100%;
}

.input-box .input span{
    display: block;
    padding: .5rem 0;
    font-size: 2rem;
    color: var(--green);
}

form .input-box .input input,
form .input-box .input textarea{
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;  
    margin-bottom: 1rem;
    width: 100%; 
}

.reservations form .input-box .input textarea{
    height: 7rem;
    resize: none;
}

.input label{
    display: block;
    padding: .5rem 0;
    font-size: 2rem;
    color: var(--green);
}

.table select{
    width: 100%;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;  
    margin-bottom: 1rem;
    width: 100%;
}

form .reserve-btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #eee;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    margin-left: 150px;
}

form .reserve-btn:hover{
    background: var(--green);
    letter-spacing: .3px;
    transition: .7s, transform 0.5s;
    transform:  translateY(-5px);
}


/*---FOOTER---*/

.footer .footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 1.5rem;
}

.footer-container .box{ 
    align-items: center;
}

.footer .footer-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .footer-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
    padding-left: 2.5rem;
}

.footer-container .box a:hover{
    color: var(--green);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;     
}

.footer .credit span{ 
    color: var(--green);
}







/*---------MEDIA QUERIES-------------*/

@media(max-width: 991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }

    header .logo img{
        width: 19px;
    }

    section{
        padding: 2rem;
    }
}


@media(max-width: 768px){
    header .icons #menu-bars{
        display: inline-block;
    }

    header{
        padding: 0rem 1.5rem;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem; 
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    
    header .icons img{
        cursor: pointer;
        margin-left: .5rem;
        height: 5.5rem;
        width: 2.5rem;
        text-align: center;
        background: #ffffff;
        padding: 1.5rem 8;
        border-radius: 100px;
    }

    .slide{
        display: grid;
        align-items: center;
        gap: 4rem;
    }

    .slide{
        gap: 5rem;
    }
    
    .slide .content{
        flex: 1 1 45rem;
    }
    
    .slide .image{
        flex: 1 1 45rem;
    }
    
    .slide .image img{
        width: 100%;
        border-radius: 10%;
    }
    
    .slide .content span{
        color: var(--green);
        font-size: 2.5rem;
    }
    
    .slide .content h3{
        color: var(--black);
        font-size: 5rem;
    }
    
    .slide .content p{
        color: var(--light-color);
        font-size: 1.9rem;
        line-height: 1.7;
    }

    .row .content a{
        margin: 50px 115px;
    }

    #reservations{
        padding: 0px;
    }
    .reservations form{
        width: 45rem;
        border-radius: 5rem;
        box-shadow: var(--box-shadow);
        border: .1rem solid rgba(0,0,0,.2);
        background: #fff;
        margin: 0 auto;
        padding: 2rem 0;
    }

    .reservations form .input-box{
        padding-left: 40px;
    }

    .input-box .input{
        width: 80%;
    }

    .footer .footer-container{
        display: block;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 1.5rem;
    }
}