<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Here</title>
    <link rel="stylesheet" href="orders.css">
</head>
<body>
    <!---MENU SECTION-->
        <section id="menu">
            <h3 class="sub-heading">Our Menu</h3>
            <h1 class="heading"> Popular Dishes</h1>
        
            <div class="box-container">
                <div class="box">
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                    <img src="/images/meal.jpg" alt="">
                    <h3>Chef's Rice</h3>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                    <div class="stars">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star-half-stroke.svg">
                    </div>
                    <span>$15.99</span>
                    <a href="#" class="btn">Add to cart</a>
                </div>
        
                <div class="box">
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                    <img src="/images/meals.jpg" alt="">
                    <h3>Pilau Biryani.</h3>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                    <div class="stars">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star-half-stroke.svg">
                    </div>
                    <span>$15.99</span>
                    <a href="#" class="btn">Add to cart</a>
                </div>
        
                <div class="box">
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                    <img src="/images/meal (2).jpg" alt="">
                    <h3>Japanese Potatoes.</h3>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                    <div class="stars">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star-half-stroke.svg">
                    </div>
                    <span>$15.99</span>
                    <a href="#" class="btn">Add to cart</a>
                </div>
        
                <div class="box">
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                    <img src="/images/stew.jpg" alt="">
                    <h3>Spicy Meat Stew</h3>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                    <div class="stars">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star-half-stroke.svg">
                    </div>
                    <span>$15.99</span>
                    <a href="#" class="btn">Add to cart</a>
                </div>
        
                <div class="box">
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                    <img src="/images/meal.jpg" alt="">
                    <h3>Rice.</h3>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                    <div class="stars">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star-half-stroke.svg">
                    </div>
                    <span>$15.99</span>
                    <a href="#" class="btn">Add to cart</a>
                </div>
        
                <div class="box">
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                    <img src="/images/pasta.jpg" alt="">
                    <h3>Pasta</h3>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                    <div class="stars">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star-half-stroke.svg">
                    </div>
                    <span>$15.99</span>
                    <a href="#" class="btn">Add to cart</a>
                </div>
        
                <div class="box">
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                    <img src="/images/spaghetti.jpg" alt="">
                    <h3>Spaghetti.</h3>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                    <div class="stars">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star-half-stroke.svg">
                    </div>
                    <span>$15.99</span>
                    <a href="#" class="btn">Add to cart</a>
                </div>
        
                <div class="box">
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                    <img src="/images/pizza.jpg" alt="">
                    <h3>Pizza.</h3>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                    <div class="stars">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star-half-stroke.svg">
                    </div>
                    <span>$15.99</span>
                    <a href="#" class="btn">Add to cart</a>
                </div>
        
                <div class="box">
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                    <img src="/images/sushi.jpg" alt="">
                    <h3>Sushi.</h3>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                    <div class="stars">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star.svg">
                        <img src="/SVG/star-half-stroke.svg">
                    </div>
                    <span>$15.99</span>
                    <a href="#" class="btn">Add to cart</a>
                </div>
            </div>
        </section>        
</body>
</html>